include ../_components/style

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")

        title= title || "Pony.Games"

        +style("https://fonts.googleapis.com/css?family=Work+Sans:400,800")
        +style("https://use.fontawesome.com/releases/v5.2.0/css/all.css")(
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
        )
        +style("/styles/theme.css")
        script(src="/scripts/bundle.min.js")


        block head
    body
        header
            .navbar-header
                a.navbar-brand(href="/")
                    img(src="/logo3.svg")
            //-     button.navbar-toggle.js-toggle(type="button" data-target="#navbar-content")
            //-         i.fas.fa-bars
            //- .navbar-content
            //-     nav
            //-         a.active(href="/") Home
            //-         a(href="/About") About
            //-         a(href="/Contact") Contact
            //-     form(role="search")
            //-         input.input-sm(type="search" id="search-header" name="q" placeholder="search" aria-label="Search")
        main
            block main
        footer
            .footer
                //- nav
                //-     a(href="/") Home
                //-     a(href="/About") About
                //-     a(href="/Contact") Contact
                .grid.grid-2-md.grid-gap-3
                    .footer-info-box
                        a(href="/")
                            img.center-block.margin-b-4(src="/logo3.svg" height="60")
                        h2 About Us
                        .iconlinklist
                            a.iconlink(href="https://twitter.com/ponydotgames")
                                i.fab.fa-twitter(aria-label="Twitter")
                            a.iconlink(href="https://chat.pony.games")
                                i.fab.fa-discord(aria-label="Discord")
                            a.iconlink(href="https://github.com/tschrock/ponygames")
                                i.fab.fa-github(aria-label="GitHub")
                    a.twitter-timeline(data-height="450" data-dnt="true" data-theme="dark" data-chrome="nofooter noborders noscrollbar transparent" href="https://twitter.com/PonyDotGames?ref_src=twsrc%5Etfw") Tweets by PonyDotGames
                    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
