h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

/* Variables
-------------------------------------------------- */
$brand-fg: #FF2966;
$brand-bg: #16212E;
$brand-bg-dark: #0F1421;

$fg-primary: white;
$fg-muted: #7D7D7D;

$text-family: 'Work Sans', sans-serif;

$breakpoint-mobile-max: 600px;
$breakpoint-tablet-max: 1200px;

$boxshadow-shift-x: 0px;
$boxshadow-shift-y: 3px;
$boxshadow-blur: 6px;

/* Variables
-------------------------------------------------- */

$brand-fg: #026eb7;
$brand-bg: white;
$brand-bg-dark: black;

$fg-primary: black;
$fg-muted: #7D7D7D;

$text-family: 'Work Sans', sans-serif;

$breakpoint-mobile-max: 600px;
$breakpoint-tablet-max: 1200px;

$boxshadow-shift-x: 0px;
$boxshadow-shift-y: 3px;
$boxshadow-blur: 6px;

/* HTML Overrides
-------------------------------------------------- */

// Border Box Model
* { box-sizing: border-box; }

// Full body
html, body { margin: 0; padding: 0; height: 100%; }

// Headers
h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: $brand-fg;
}

// Links
a {
    color: $brand-fg;
    text-decoration: none;
}

// Inputs
input {
    border: none;
    padding: 8px 14px;
    color: #C2C2C2;
    background-color: #354251;
    
    &::placeholder {
        color: #C2C2C2;
    }

    &.input-sm {
        font-size: 14px;
        padding: 6px 13px;
    }

}

pre {
    background-color: lighten($color: $brand-bg, $amount: 8);
    overflow: auto;
    padding: 10px;
    border: solid black 2px;
    text-align: left;
}


/* Flexbox
-------------------------------------------------- */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-grow {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}


/* Card Grid
-------------------------------------------------- */
.card-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(170px, 1fr) );
    grid-gap: 20px;
}
.card-grid > .card {
    width: 100%;
    margin: 0 auto;
}

a.card,
a.card:hover,
a.card:active,
a.card:visited {
    text-decoration: inherit;
    color: inherit;
}

/* Other Utils
-------------------------------------------------- */
.text-center {
    text-align: center;
}
.extrabold {
    font-weight: 800;
}

/* Theming: Mobile-first layout
-------------------------------------------------- */

// Body
body {
    color: $fg-primary;
    background-color: $brand-bg;
    font-family: $text-family;
}

// Generic Navbar
nav a {
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    margin: 0 15px;

    &.active,
    &:hover {
        color: $fg-primary;
        background-color: $brand-fg;
    }
}

// Layout Header & Navbar
header {
    background-color: $brand-bg-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    position: relative;
    box-shadow: 0px 0px $boxshadow-blur $boxshadow-shift-y rgba(0,0,0,1);

    .navbar-header {
        width: 100%;
        padding: 0 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        padding: 5px 10px;
        width: 200px;
    }

    .logo-text {
        color: white;
        font-size: 22px;
        line-height: 0.9em;
    }

    .navbar-content {
        width: 100%;
        padding: 10px 12px;
        display: none;
        flex-direction: column;
        flex: 1;

        text-align: center;

        &.active {
            display: flex;
        }

        nav {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }

        input {
            width: 325px;
            margin: 10px 0;
        }
    }
}

// Navbar Toggle Button
.navbar-toggle {
    border: none;
    padding: 0;
    margin: 0 0 0 auto;
    color: $fg-primary;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

// Header Banner
.banner {
    padding: 50px 20px;
    min-height: 230px;

    h1 {
        color: white;
        background-color: $brand-bg-dark;
        font-size: 40px;
        display: inline;
        font-weight: 800;
        text-transform: uppercase;
        background-color: $brand-bg-dark;
        line-height: 1em;
        padding: 0;
    }
}

// Content container
.container {
    padding: 50px 20px;
    overflow: hidden;

    h1 {
        font-size: 32px;
        margin-bottom: 12px;
    }
}

// Content sections
section {
    margin-bottom: 50px;
}

// Footer
.footer {
    padding: 25px;
    text-align: center;
    background-color: $brand-bg-dark;

    h1 {
        color: white;
        font-size: 50px;
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    input {
        width: 325px;
        margin-bottom: 20px;
    }

}

// Subfooter
.subfooter {
    padding: 18px;
    text-align: center;
    color: $fg-muted;
    background-color: $brand-bg;

    a {
        color: #ddd;
    }
}

// Cards
.card {
    background-color: $brand-bg-dark;
    box-shadow: $boxshadow-shift-x $boxshadow-shift-y $boxshadow-blur 0px rgba(0,0,0,1);
    
    .card-header {
        padding: 12px;
        
        h1 {
            font-size: 18px;
            margin: 0;
        }
    }

    .card-body {
        padding: 12px;
    }

    %headings {
        color: white;
    }
}


/* Theming: Tablet overrides
-------------------------------------------------- */

@media all and (min-width: $breakpoint-mobile-max) {

    .card-grid {
        grid-template-columns: repeat( auto-fill, minmax(230px, 1fr) );
        grid-gap: 50px;
    }
    .card-grid > .card {
        max-width: 350px;
    }

    .container {
        padding: 60px 40px;
    }
    .banner {
        padding: 50px 40px;
        min-height: 300px;

        h1 {
            font-size: 80px;
        }
    }

}

/* Theming: Desktop overrides
-------------------------------------------------- */

@media all and (min-width: $breakpoint-tablet-max) {

    .card-grid {
        grid-template-columns: repeat( auto-fill, minmax(260px, 1fr) );
        grid-gap: 70px;
    }
    .card-grid > .card {
        max-width: none;
    }

    .card {
        .card-header {
            
            h1 {
                font-size: 24px;
            }
        }
    }

    header {
        flex-direction: row;

        .navbar-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 12px;

            nav {
                flex-direction: row;
                justify-content: center;
                margin: 0;
            }
            input {
                margin: 0;
            }
        }

        .navbar-header {
            width: auto;
        }
    }

    .navbar-toggle {
        display: none;
    }

    .container {
        padding: 90px 24%;
    }
    .banner {
        padding: 50px 24%;
        min-height: 400px;

        h1 {
            font-size: 120px;
        }
    }

}
