
/* HTML Overrides
-------------------------------------------------- */


/* Bootstrap Overrides
-------------------------------------------------- */
.btn {
    box-shadow: none !important;
    cursor: pointer;
}

/* Linkable cards
-------------------------------------------------- */
a.card,
a.card:hover,
a.card:active,
a.card:visited {
    text-decoration: inherit;
    color: inherit;
}

a.card:hover {
    color: #495057;
    background-color: #f8f9fa;
}

a.card:active {
    color: #212529;
    background-color: #e9ecef;
}

/* Responsive grid for cards
-------------------------------------------------- */
.card-flex-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5em;
    margin-right: -.5em;
}

.card-flex-grid > .card {
    flex: 1 0 100%;
    margin: .5em;
}

@media screen and (min-width: 50em) {
    .card-flex-grid > .card {
        max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 70em) {
    .card-flex-grid > .card {
        max-width: calc(33% - 1em);
    }
}

@media screen and (min-width: 90em) {
    .card-flex-grid > .card {
        max-width: calc(25% - 1em);
    }
}

@media screen and (min-width: 110em) {
    .card-flex-grid > .card {
        max-width: calc(20% - 1em);
    }
}


/* Sticky footer styles
-------------------------------------------------- */

html, body{
    height: 100%; 
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body > main {
    flex: 1;
}

/* Card List Group
-------------------------------------------------- */

/* Card List */
.card-list-group {
    display: flex;
    flex-direction: column;

    margin: .5em 0;
}
.card-list-group .card {
    flex-direction: row;
}
.card-list-group .card-img-top,
.card-list-group .card-img-bottom {
    width: 20%
}

.card-list-group .card-img-top {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}
.card-list-group .card-img-bottom {
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* List Group */
.card-list-group .card + .card {
    margin-top: 0;
    border-top: 0;
}

.card-list-group .card:first-child,
.card-list-group .card:first-child .card-img-top {
    border-bottom-left-radius: 0;
}
.card-list-group .card:first-child,
.card-list-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
}

.card-list-group .card:last-child,
.card-list-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
}
.card-list-group .card:last-child,
.card-list-group .card:last-child .card-img-bottom {
    border-top-right-radius: 0;
}

.card-list-group .card:only-child,
.card-list-group .card:only-child .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}
.card-list-group .card:only-child,
.card-list-group .card:only-child .card-img-bottom {
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.card-list-group .card:not(:first-child):not(:last-child):not(:only-child),
.card-list-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
.card-list-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom {
    border-radius: 0;
}
