
/* HTML Overrides
-------------------------------------------------- */

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }


/* Flexbox
-------------------------------------------------- */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-grow {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}


/* Card Grid
-------------------------------------------------- */
.card-grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    grid-gap: 20px;
}
.card-grid > .card {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* Util
-------------------------------------------------- */
.height-100 {
    height: 100%;
}


/* Theming
-------------------------------------------------- */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, footer { 
    background-color: #212529;
    color: white;
    padding: 10px;
}

main {
    padding: 15px;
}

a.logo {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    margin: -5px;
    text-align: center;
}
a.logo > .logo-icon {
    margin-right: 5px;
}
a.logo > .logo-text {
    text-align: center;
}

input {
    font-size: 1em;
    padding: 5px;
}


/* Cards
-------------------------------------------------- */
.card {
    border: 1px #ccc solid;
}

.card-body {
    margin: 15px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-top {
    background-color: #eee;
}


/* Linkable cards
-------------------------------------------------- */
a.card,
a.card:hover,
a.card:active,
a.card:visited {
    text-decoration: inherit;
    color: inherit;
}

a.card:hover {
    border-color: #212529;
}

a.card:active {
    border-color: #000;
}


/* Badges
-------------------------------------------------- */
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin: 2px;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badges {
    margin: 13px;
}


/* Responsive extras
-------------------------------------------------- */

/* Mobile view */
@media screen and (max-width: 500px) {
    .card-grid {
        grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    }
    .logo-text {
        display: none;
    }
}
