
/* Link Cards
-------------------------------------------------- */

a.card,
a.card:hover,
a.card:active,
a.card:visited {
    text-decoration: inherit;
    color: inherit;
}

/* Card Theme
-------------------------------------------------- */
.card {

    position: relative;
    display: flex;
    flex-direction: column;

    .card-img-top {
        display: flex;
        position: relative;
        width: 100%;
        align-items: center;
        height: 100%;
    }
        img {
            max-height: 300px;
            max-width: 100%;
            display: block;
        }

    .card-header {
        border-radius: 0.25rem;
        // background: linear-gradient(#00000000, #00000000, $brand-fg);
        // background: $brand-fg;
        padding: 8px 12px;
        text-transform: uppercase;
        // position: absolute;
        // bottom: 0;
        // top: 0;
        // left: 0;
        // right: 0;
        vertical-align: top;

        text-overflow: ellipsis;

        h1 {
            font-size: 17px;
            margin: 0;
        }
    }

    .card-body {
        padding: 12px;
    }

    %headings {
        color: white;
        text-transform: uppercase;
    }
}


/* Tablet overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-tablet-min) {

    .card {
        .card-header {
            padding: 16px 18px;

            h1 {
                font-size: 18px;
            }
        }
    }

}


/* laptop overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-laptop-min) {

    .card {
        .card-header {
            padding: 14px 16px;

            h1 {
                font-size: 20px;
            }
        }
    }

}


/* desktop overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-desktop-min) {

    .card {
        .card-header {
            padding: 16px 18px;

            h1 {
                font-size: 22px;
            }
        }
    }

}
