

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-gap-1 { grid-gap: $spacing * 0.3333; }
.grid-gap-2 { grid-gap: $spacing * 0.6666; }
.grid-gap-3 { grid-gap: $spacing; }

@media all and (min-width: $breakpoint-tablet-min) {
    .grid-dynamic {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: $breakpoint-laptop-min) {

    .grid-2-md {
        grid-template-columns: 1fr 1fr;
    }

    .grid-dynamic {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media all and (min-width: $breakpoint-desktop-min) {
    .grid-dynamic {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media all and (min-width: $breakpoint-desktop-max) {
    .grid-dynamic {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}





/* Grid
-------------------------------------------------- */

.grid-col-2,
.grid-col-2-desktop {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 20px;
    > .card {
        align-self: center;
        max-width: 600px;
        margin: auto;
    }
}


/* Tablet overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-tablet-min) {

    .grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }

}

/* Laptop overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-laptop-min) {

    .grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }

}

/* Desktop overrides
-------------------------------------------------- */
@media all and (min-width: $breakpoint-desktop-min) {

    .grid-col-2,
    .grid-col-2-desktop {
        grid-template-columns: 1fr 1fr;
    }

}
