
/* Other Utils
-------------------------------------------------- */
.text-center {
    text-align: center;
}
.extrabold {
    font-weight: 800;
}
.first-phrase {
    font-size: 1.05em;
    font-weight: 600;
}
