
/* Variables
-------------------------------------------------- */
$brand-fg: #199e91;
$brand-bg: #1f1f1f;
$brand-bg-dark: #131313;

$fg-primary: white;
$fg-muted: #7D7D7D;

$text-family: 'Work Sans', sans-serif;

$breakpoint-mobile-max: 600px;

$breakpoint-tablet-min: $breakpoint-mobile-max + 1;
$breakpoint-tablet-max: 1200px;

$breakpoint-laptop-min: $breakpoint-tablet-max + 1;
$breakpoint-laptop-max: 1600px;

$breakpoint-desktop-min: $breakpoint-laptop-max + 1;

$boxshadow-shift-x: 0px;
$boxshadow-shift-y: 3px;
$boxshadow-blur: 6px;
